
.formularioUser{
    width:100%; 
    color:rgb(224, 245, 245);
    height: auto;
    background-color: black;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    

}




#containerCard{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
 

}

.cimg{
    width:90%;
height:30em;
}

.cardProducto {
    display:flex;
    flex-direction: column;
    width: 12%;
    height:12em;
    padding:1em;
    align-content: center;
    align-items: center;
}

.cardProducto > img{
    width:8em;
    Height:8em;
}


#verCarrito{
    width:3em;
    height: 3em;

}

#containerCarrito {
    width:70%; 
    height: auto;
    margin: 2em 10em;
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position:absolute;
    overflow: auto;
    z-index: 9;
    top:12em;
    scrollbar-color: grey;
}
#containerCarrito::-webkit-scrollbar {
    display:none;
}


.carritoBody > img {
    width: 6em;
    height: 6em;
}
