#containerCard{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

.cardProducto {
    display:flex;
    flex-direction: column;
    width: 12%;
    height:12em;
    padding:1em;
    align-content: center;
    align-items: center;
}

#verCarrito{
    width:4em;
    height: 4em;

}

#containerCarrito {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}